<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>


  </head>

  <body class="bg-dark text-light text-capitalize">





    <% if (alert==1) { %>

      <form action="/" class="d-flex justify-content-center align-items-center bg-dark rounded"
        style="width: 100%; height: 100%;" method="post">
        <input type="hidden" name="userName" value="<%= userData.userName %>">
        <input type="hidden" name="password" value="<%= password %>">
        <div class="h-100 d-flex justify-content-center align-items-center">
          <input type="submit" class="btn btn-warning pl-3 pr-3" value="done">
        </div>
      </form>

      <% }else{ %>


        <%- include('./partials/nav.ejs') %>
          <%- include('./partials/carousel.ejs') %>






            <% if (userData !='' ) { %>
              <div class="mt-5">
                <div class="row justify-content-md-around justify-content-center  mb-4 mt-4 align-items-center ">
                  <div class="col-9 col-md-3 ">
                    <img src="/img/500x500.png" class="w-100 rounded-circle" alt="">
                  </div>
                  <div class="col-12 col-md-5">
                    <div class="row justify-content-center justify-content-md-start">
                      <h1>
                        <%= userData.firstName %>
                          <%= userData.lastName %>
                      </h1>
                    </div>
                    <div class="row justify-content-center justify-content-md-start">
                      <% if (userData.admin=='1' ) { %>
                        <p class="text-secondary">
                          admin
                        </p>
                        <% } else if (userData.academicYear !='0' ) { %>
                          <p class="text-secondary">
                            <%= userData.academicYear %>
                          </p>
                          <% } %>
                    </div>
                    <div class="row justify-content-center justify-content-md-start">
                      <% if (userData.admin=='1' ) { %>
                        <form action="/dashboard/" method="get">
                          <a href="/logout" class="btn btn-primary ">log out</a>
                          <input type="submit" class="btn btn-primary" value="dash board">
                        </form>

                        <% } else if (userData.academicYear !='0' ) { %>

                          <a class="btn btn-primary position-relative" href="/profile/">
                            profile
                            <% let c=0%>
                              <% for( let i=0; i < QuSchemaData.length; i++ ) { %>
                                <% if (QuSchemaData[i].AccData.userName==userData.userName) { %>
                                  <% if (QuSchemaData[i].answered=='1' ) { %>
                                    <% c=c+1 %>
                                      <% } %>
                                        <% if (i+1==QuSchemaData.length && c !=0) { %>
                                          <% if (c>= 9) { %>
                                            <span
                                              class="position-absolute top-0 bottom-1 start-100 translate-middle badge  border border-dark bg-danger"
                                              style="border-radius: 20px;">
                                              9+
                                            </span>
                                            <% }else{%>
                                              <span
                                              class="position-absolute top-0 bottom-1 start-100 translate-middle badge  border border-dark bg-danger"
                                              style="border-radius: 20px;">
                                              <%= c %> 
                                            </span>
                                              <% } %>
                                                <% } %>
                                                  <% } %>
                                                    <% } %>
                          </a>
                          <% } %>
                    </div>
                  </div>
                </div>
              </div>
              <% } %>

                <% if (userData !='' ) { %>


                  <% if (userData.admin=='1' ) { %>







                    <% } else if (userData.academicYear !='0' ) { %>

                      <div
                        class="row w-100 mt-5 mb-5 flex-column flex-lg-row justify-content-center align-items-center">
                        <div class="col-12 col-lg-3 mb-5 d-flex justify-content-center">
                          <div class="card bg-dark" style="width: 18rem;">
                            <!-- <img src="img/—Pngtree—quiz png transparent background_6272209.png" class="card-img-top" alt="..."> -->
                            <img src="/img/quiz.png" class="card-img-top" alt="">
                            <div class="card-body d-flex flex-column align-items-lg-end align-items-center">

                              <h5 class="card-title">أختبر نفسك</h5>
                              <p class="text-right">قيم نفسك و أعرف مستواك</p>
                              <a href="/quiz/choose/" class="btn btn-primary">إبدأ الإمتحان</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 col-lg-3 mb-5 d-flex justify-content-center">
                          <div class="card bg-dark" style="width: 18rem;">
                            <img src="/img/learn by video.png" class="card-img-top">
                            <div class="card-body  d-flex flex-column align-items-lg-end align-items-center">
                              <h5 class="card-title">أتعلم بالفيدوهات</h5>
                              <p class="card-text text-right">أتفرج علي شرح أستاذك</p>
                              <a href="/learnning/" class="btn btn-primary">أبدأ مذاكرة</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 col-lg-3 mb-5 d-flex justify-content-center">
                          <div class="card bg-dark" style="width: 18rem;">
                            <img src="/img/ask your t.png" class="card-img-top">
                            <div class="card-body d-flex flex-column align-items-lg-end align-items-center">

                              <h5 class="card-title">أسأل أستاذك</h5>
                              <p class="card-text text-right">أسأل أستاذك و هيرد عليك</p>
                              <button class="btn btn-primary collapsed" data-target="#AskYourTeacher"
                                data-toggle="collapse">
                                أسأل</button>

                            </div>
                          </div>
                        </div>

                        <div class="collapse" id="AskYourTeacher">
                          <div class=" col-12 d-flex justify-content-center ">
                            <div class="card collapse bg-dark ">
                              <div class="card-body d-flex justify-content-around flex-column">
                                <h5 class="card-title ">send your question</h5>
                                <form action="/send/question/" method="post" class="row">
                                  <input type="hidden" name="userName" value="<%= userData.userName %>">
                                  <div class="col-12">
                                    <textarea name="question" class="bg-dark text-light outline p-2"
                                      style="width: 100%;" rows="5" placeholder="your question..."></textarea>
                                  </div>
                                  <div class="col-12">
                                    <input type="submit" class="btn btn-primary" value="send">
                                  </div>
                                </form>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <% } %>

                        <% } else { %>
                          <div class="col-lg-4 col-11 mb-5 mt-5 container">
                            <h1 style="font-size: 35px;">login</h1>
                            <form action="/" method="post" class="">
                              <div class="form-group">
                                <label for="userName" class="text-secondary ">user name</label>
                                <input type="text" class="form-control" name="userName" id="userName" required>
                                <div class="invalid-feedback">
                                  user name is false
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="password" class="text-secondary">password</label>
                                <input type="password" class="form-control" name="password" id="password" required>
                                <div class="invalid-feedback">
                                  password is false.
                                </div>
                              </div>



                              <a href="" class="btn btn-link p-0">forget password..?</a>
                              <br>

                              <input type="submit" class="btn btn-primary mt-3" value="login">
                              <a href="/createaccount/ / /" class="btn btn-primary mt-3">creat account</a>


                            </form>
                          </div>

                          <% } %>




                            <%- include('./partials/footer.ejs') %>


                              <% } %>
                                <%- include('./partials/js.ejs') %>



  </body>

</html>