<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/head.ejs') %> 


</head>

<body class="bg-dark text-light text-capitalize">
  <%- include('./partials/nav.ejs') %> 

  <%- include('./partials/carousel.ejs') %> 

  

    <div class="">
        <h1 class="text-center">select lessons</h1>
        <form action="">
            <div class="row w-100 mt-5 mb-5 flex-column flex-lg-row justify-content-center align-items-center">


                <div class="col-12 col-lg-3 mb-5 d-flex justify-content-center">
                    <div class="card bg-dark" style="width: 18rem;">
                        <div class="card-body">
                            <div class="form-check h-100 d-flex align-items-center">
                                <label for="" class="form-check-label h-100 d-flex align-items-center">
                                    <input type="checkbox" class="form-check-input" name="" id="">
                                    <h5 class="card-title mt-auto mb-auto">Name</h5>
                                </label>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-3 mb-5 d-flex justify-content-center">
                    <div class="card bg-dark" style="width: 18rem;">
                        <div class="card-body">
                            <div class="form-check h-100 d-flex align-items-center">
                                <label for="" class="form-check-label h-100 d-flex align-items-center">
                                    <input type="checkbox" class="form-check-input" name="" id="">
                                    <h5 class="card-title mt-auto mb-auto">Name</h5>
                                </label>
                            </div>

                        </div>
                    </div>
                </div>



            </div>
            <div class="w-100 d-flex justify-content-center mb-5">
                <input type="submit" class="btn btn-primary" value="start test">
            </div>
        </form>

    </div>






    <%- include('./partials/footer.ejs') %> 




    <%- include('./partials/js.ejs') %> 

</body>

</html>